<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql://127.0.0.1:3306/rifas
		</property>
		<property name="hibernate.connection.username">userw</property>
		<property name="hibernate.connection.password">passwordwrite</property>

		<!-- JDBC connection pool (use the built-in) --> 
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		
		<property name="hibernate.enable_lazy_load_no_trans">true</property>

		<!-- Disable the second-level cache  -->
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>



	<!-- 	<mapping class="com.struts2.Beans.BeanUser" />
		<mapping class="com.struts2.Beans.BeanCompany" /> -->

	</session-factory>

</hibernate-configuration>