BODY
{
    BACKGROUND-COLOR: #ff9900;
    COLOR: #333366;
    FONT-FAMILY: 'Times New Roman'
}
H1
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
H2
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: uppercase;
}
H3
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}

H4
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}

H5
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
H6
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
TH {
 color: #6060cc
}


.table_encabezado
  {
	color: black;
	text-align: center;	       
	background-color: #2E8B57;
	font-size: 14px;
	font-weight: bold;
}

.table_campo
  {
	  color: black;
	  font-size: 10px;
	  background-color: #d3d3d3;
}

.table_captura_header
  {
	color: white;
	text-align: center;	       
	background-color: red;
	font-size: 14px;
	font-weight: bold;
}

.table_capture_field
  {
	  color: red;
	  font-size: 10px;
	  background-color: #d3d3d3;
}


.flexible
  {
	  color: red;
	  font-size: 10px;
	  background-color: #d3d3d3;
}

.notFlexible
  {
	  color: blue;
	  font-size: 10px;
	  background-color: #d3d3d3;
}


.messageNew
  {
	  color: red;
	  font-size: 12px;
	  background-color: white;
}

.messageReaded
  {
	  color: blue;
	  font-size: 12px;
	  background-color: white;
}


.generalTextHeader
  {
	  color: blue;
	  font-size: 20px;
	  background-color: transparent;
	  FONT-FAMILY: 'Arial';
	  font-weight: bold;
	  align: left
}

.generalText
  {
	  color: 006666;
	  font-size: 16px;
	  background-color: transparent;
	  FONT-FAMILY: 'Arial';
	  align: justify
}

