.crExceptionBorder   
{
    background-color: black;
}

.crExceptionHeader   
{
    background-color: teal;
    color: #F5F5F5;
    font-family: verdana;
    font-weight: bold;
    border-width: thin;
}

.crExceptionElement  
{
    background-color: #DFDFDF;
}

.crExceptionText  
{
    color: #444444;
    font-family: verdana;
    font-size: 12pt;
}
