html {
	height: auto;
}
body.lte7 {
	height: 1%; position: relative; min-height: auto;
}
.lte7 .clearfix {
	display: inline-block;
}
.lte7 .clearfix {
	display: block;
}
.ie6 .clearfix {
	height: 1%;
}
.ie6 .floatbox {
	width: 100%;
}
.lte7 .slidebox {
	height: 1%; margin-right: -1000px; position: relative;
}
.ie6 #col1 {
	position: relative;
}
.ie6 #col2 {
	position: relative;
}
.ie6 #col3 {
	position: relative;
}
.lte7 #page_margins {
	zoom: 1;
}
.lte7 #page {
	zoom: 1;
}
.lte7 #header {
	zoom: 1;
}
.lte7 #nav {
	zoom: 1;
}
.lte7 #main {
	zoom: 1;
}
.lte7 #footer {
	zoom: 1;
}
.lte7 #page_margins {
	height: 1%;
}
.lte7 #page {
	height: 1%;
}
.ie6 #header {
	width: 100%;
}
.ie6 #nav {
	width: 100%;
}
.ie6 #main {
	width: 100%;
}
.ie6 #footer {
	width: 100%;
}
.ie6 #header {
	width: auto;
}
.ie6 #nav {
	width: auto;
}
.ie6 #main {
	width: auto;
}
.ie6 #footer {
	width: auto;
}
.ie6 ul {
	position: relative;
}
.ie6 ol {
	position: relative;
}
.ie6 dl {
	position: relative;
}
#ie_clearing {
	margin: -2px 0px -1em 1px; width: 100%; font-size: 0px; display: block; position: static; lear: both;
}
.ie6 #ie_clearing {
	margin: -2px 0px -1em;
}
#col3_content {
	margin-bottom: -2px;
}
html {
	margin-right: 1px;
}
.ie6 {
	margin-right: 0px;
}
.lte7 #col3 {
	position: relative;
}
.ie6 .c50l {
	display: inline;
}
.ie6 .c25l {
	display: inline;
}
.ie6 .c33l {
	display: inline;
}
.ie6 .c38l {
	display: inline;
}
.ie6 .c66l {
	display: inline;
}
.ie6 .c75l {
	display: inline;
}
.ie6 .c62l {
	display: inline;
}
.ie6 .c50r {
	display: inline;
}
.ie6 .c25r {
	display: inline;
}
.ie6 .c33r {
	display: inline;
}
.ie6 .c38r {
	display: inline;
}
.ie6 .c66r {
	display: inline;
}
.ie6 .c75r {
	display: inline;
}
.ie6 .c62r {
	display: inline;
}
.ie6 .c220l {
	display: inline;
}
.ie6 .c440r {
	display: inline;
}
.ie6 .c200l {
	display: inline;
}
.ie6 .c120r {
	display: inline;
}
.ie6 #col1 {
	display: inline;
}
.ie6 #col2 {
	display: inline;
}
.ie6 #col1_content {
	word-wrap: break-word;
}
.ie6 #col2_content {
	word-wrap: break-word;
}
.ie6 #col3_content {
	word-wrap: break-word;
}
.ie6 .subcolumns .subc {
	overflow: hidden; word-wrap: break-word;
}
.ie6 .subcolumns .subcl {
	overflow: hidden; word-wrap: break-word;
}
.ie6 .subcolumns .subcr {
	overflow: hidden; word-wrap: break-word;
}
.ie6 .subcolumns .subcrteaser {
	overflow: hidden; word-wrap: break-word;
}
.lte7 #col3 {
	height: 1%;
}
.ie6 #col3 {
	height: 1%;
}
.ie6 #col1 {
	margin-right: -3px;
}
.ie6 #col2 {
	margin-left: -3px;
}
.ie6 #col3 {
	margin-right: 257px; margin-left: 177px;
}
.ie6 #col1 {
	width: 0px; margin-right: 0px; display: none;
}
.ie6 #col3 {
	margin-left: 0px;
}
.lte7 ul.content_list li {
	zoom: 1;
}
.ie6 .go {
	margin-left: 3px;
}
.ie6 .content_blue-bg_col2 {
	width: 90%;
}
.ie6 #nav_sub {
	width: 158px;
}
.ie6 #col3_content {
	height: 513px;
}
.ie6 div.content_blue-bg {
	position: relative;
}
.ie6 div.blue_background_2col {
	position: relative;
}
.cssfont.lte7 div.yourindustryteaser h2.yourindustryteaser-title span {
	padding: 0px 0px 5px 6px !important; margin-top: -2px !important;
}
.ie8 div.yourindustryteaser h2.yourindustryteaser-title span {
	padding-top: 1px !important;
}
.cssfont.lte8 div.yourindustryteaser h2.yourindustryteaser-title span {
	height: 23px; padding-top: 5px;
}
.cssfont.lte7 #nav_main .subnav-wrapper {
	padding-top: 4px;
}
.lte8 #nav_main .subnav-wrapper {
	padding-top: 5px;
}
body.cssfont.ie8 #nav_main .subnav-wrapper ul.mainlevel {
	padding-bottom: 4px;
}
.ie8 #nav_main ul li a {
	padding: 2px 9px 0px 0px;
}
body.cssfont.ie8 #nav_main .subnav-wrapper ul li a {
	background-position: 0px -3px;
}
body.cssfont.ie9 #nav_main .subnav-wrapper ul li a {
	background-position: 0px -3px;
}
body.ie9 #nav_main .subnav-wrapper ul li a {
	
}
.ie9 #nav_main li {
	margin-top: -4px;
}
.cssfont.ie9 #nav_main li.active {
	margin-top: -4px;
}
.cssfont.ie9 #nav_main li {
	margin-top: 0px;
}
.cssfont.ie9 #nav_main li.active a {
	padding-top: 5px;
}
.cssfont.ie9 #nav_main li div.subnav-wrapper {
	padding-top: 4px;
}
.ie9 #nav_main li div.subnav-wrapper {
	padding-top: 6px;
}
.cssfont.ie9 #nav_main li.active div.subnav-wrapper {
	padding-top: 8px;
}
.cssfont.ie9 div.yourindustryteaser h2.yourindustryteaser-title span {
	padding-top: 4px;
}
.ie9 div.yourindustryteaser h2.yourindustryteaser-title span {
	padding-top: 6px;
}
body.cssfont.ie9 #nav_main .subnav-wrapper ul li a {
	padding-top: 3px; margin-top: -3px;
}
body.cssfont.ie9 #nav_main li.active .subnav-wrapper ul a {
	padding-top: 3px; margin-top: -3px;
}
body.ie9 #nav_main .subnav-wrapper ul li a {
	padding-top: 4px; margin-top: -4px;
}
body.ie9 #nav_main li.active .subnav-wrapper ul a {
	padding-top: 4px; margin-top: -4px;
}
body.cssfont.ie9 #nav_main .subnav-wrapper ul ul {
	margin-top: -9px;
}
body.cssfont.ie9 #nav_main li.active .subnav-wrapper ul ul {
	margin-top: -9px;
}
body.cssfont.ie9 #nav_main .subnav-wrapper ul.mainlevel {
	padding-bottom: 1px;
}
body.ie9 #nav_main .subnav-wrapper ul.mainlevel {
	padding-bottom: 3px;
}
body.ie9 #nav_main .subnav-wrapper ul.mainlevel ul {
	margin-top: -10px;
}
body.cssfont.ie9 #nav_main .subnav-wrapper ul.mainlevel ul {
	margin-top: -9px;
}
body.ie #nav_meta .meta-wrapper ul {
	padding: 1px 9px 4px;
}
body.cssfont.ie9 #nav_meta .meta-wrapper ul {
	padding: 1px 9px;
}
body.safari #nav_meta .meta-wrapper ul li a {
	background-position: -2px -1px;
}
body.ie #nav_meta .meta-wrapper ul li a {
	background-position: -2px -0.1em;
}
body.ie8 #nav_meta .meta-wrapper ul li a {
	background-position: -2px -0.15em;
}
body.cssfont.ie9 #nav_meta .meta-wrapper ul li a {
	background-position: -2px -0.3em;
}
body.ie #nav_meta ul li .meta-wrapper {
	padding-top: 8px;
}
body.cssfont.ie9 #nav_meta ul li .meta-wrapper {
	padding-top: 10px;
}
body.cssfont.ie9 #nav_meta ul li span a.arrow {
	background-position: 0px -0.12em;
}
body.ie7 #nav_meta ul li .meta-wrapper {
	zoom: 1;
}
body.ie7 #nav_meta ul li .meta-wrapper .border-right {
	zoom: 1;
}
body.ie #nav_meta ul li span {
	background-position: right 0.25em; margin-top: 1px;
}
body.ie9 #nav_meta ul li span {
	background-position: right 0.22em; margin-top: 2px;
}
body.cssfont.ie9 #nav_meta ul li span {
	background-position: right 0.1em; margin-top: 2px;
}
body.ie #nav_meta ul li span a.arrow {
	background-position: 0px 0.03em;
}
body.ie.cssfont #nav_meta ul li span a.arrow {
	background-position: 0px 0.05em;
}
.ie7 .meta-dropdown-container .meta-wrapper ul li a {
	padding: 1px 0px 1px 11px;
}
